<h4 class="card-title">{{ getQuestion() }}</h4>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let answer of answers" [ngClass]="onClass(answer)" (click)="selection(answer)">
    {{ answer.name }}
    <!-- <span class="badge">
      <i class="material-icons corret">check</i>
      <i class="material-icons incorret">clear</i>
    </span> -->
  </li>
</ul> 
<div class="row mt-3">
  <div class="col-lg-4 offset-lg-4">
    <button routerLink="/question" [disabled]="isDisabled" class="btn btn-info btn-lg w-100">Next</button>
  </div>
</div>
